{%  load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}SunShop{% endblock %}</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header-top">
            <h1><a href="{% url 'home:home' %}" class="logo">SunShop</a></h1>
            <nav class="main-nav">
                <ul>
                    <li><a href="#" class="heart">желаемое</a></li>
                    <li><a href="#">корзина</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'users:user_detail' user.id %}">профиль</a></li>
                        <li><a href="{% url 'users:logout' %}">выйти</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}">войти/регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="header-bottom">
            <nav class="nav">
                <ul>
                    <li><a href="#">акции</a></li>
                    <li><a href="#">новинки</a></li>
                    <li><a href="#">лидеры продаж</a></li>
                    <li><a href="#">в кредит и рассрочку</a></li>
                    <li><a href="#">продавай</a></li>
                    <li><a href="#">рекламируйся</a></li>
                    <li><a href="#">истоия просмотров</a></li>
                    <li><a href="#">все продавцы</a></li>
                    <li><a href="#">контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% block content %}

{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="info-block">
            <div class="info">
                <span>Делаем доставку в любой регион</span>
                <p><strong>Адрес для физических писем от клиентов:</strong>
                    Кыргызстан, г. Бишкек <strong>720000</strong>
                    проспект <strong>Чуй 96</strong>
                    Абонентский ящик: <strong>2020</strong>
                    Организация: <strong>маркетплейс Svetofor</strong></p>
            </div>
            <div class="info">
                <span>Продавцам</span>
                <ul>
                    <li><a href="#">Станьте нашим партнером</a></li>
                    <li><a href="#">Рекламируй с нами</a></li>
                </ul>
            </div>
            <div class="info">
                <span>Покупателям</span>
                <ul>
                    <li><a href="#">оплата</a></li>
                    <li><a href="#">доставка</a></li>
                    <li><a href="#">кредит и рассрочка</a></li>
                    <li><a href="#">обмен и возврат</a></li>
                    <li><a href="#">гарантия</a></li>
                    <li><a href="#">регистрация</a></li>
                    <li><a href="#">как оформить заказ</a></li>
                    <li><a href="#">установка техники</a></li>
                    <li><a href="#">оцените качество обслуживания</a></li>
                </ul>
            </div>
            <div class="info">
                <span>О нас</span>
                <ul>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Корпоративным клиентам</a></li>
                    <li><a href="#">вакансии</a></li>
                    <li><a href="#">пользовательское соглашение</a></li>
                    <li><a href="#">сравнить кредиты банков</a></li>
                    <li><a href="#">о компании</a></li>
                </ul>
            </div>
        </div>
        <p class="footer-bottom">интернет магазин SunShop 2021-2031</p>
    </div>
</footer>
</body>
</html>