{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <div class="banners">
        <div class="container">
            <img src="" alt="" width="800" height="300">
        </div>
    </div>

    <div class="container">
        <div class="grid">
            <div class="right-side">
                <h4 class="title-h4">Весь каталог</h4>
                <ul>
                    {% for category in product_category_context %}
                        <li><a href="{% url 'shop:product_list_by_category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="left-side">
                <div class="low-prices-block">
                    <h4 class="title-h4">Последние товары</h4>
                    <div class="low-prices">
                        {% for product in product_context %}
                            <div class="remize">
                                <img src="{{ product.image.url }}" alt="">
                                <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                                <p>{{ product.price }}</p>
                            </div>
                        {% endfor %}
                        <a href="{% url 'shop:product_list' %}" class="more-info">подробнее</a>
                    </div>
                </div>
                <div class="best-items-block">
                    <h4 class="title-h4">Лучшие товары месяца</h4>
                    <div class="best-items">
                        <div class="best-item">
                            <img src="" alt="">
                            <h6><a href="#">Имя товара</a></h6>
                            <p>цена товара</p>
                        </div>
                        <div class="best-item">
                            <img src="" alt="">
                            <h6><a href="#">Имя товара</a></h6>
                            <p>цена товара</p>
                        </div>
                        <div class="best-item">
                            <img src="" alt="">
                            <h6><a href="#">Имя товара</a></h6>
                            <p>цена товара</p>
                        </div>
                        <div class="best-item">
                            <img src="" alt="">
                            <h6><a href="#">Имя товара</a></h6>
                            <p>цена товара</p>
                        </div>
                        <div class="best-item">
                            <img src="" alt="">
                            <h6><a href="#">Имя товара</a></h6>
                            <p>цена товара</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}