{% extends "home/base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
    <div class="container">
        <h1>Edit your account</h1>
        <p>You can edit your account using the following form:</p>
        <form action="." method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save changes"></p>
        </form>
    </div>
{% endblock %}