{% extends "home/base.html" %}

{% block content %}

    <div class="container">
        <div class="logout">
            <p>Вы успешно вышли из системы.
                <a href="{% url "users:login" %}">Снова войти в систему?</a>.
            </p>
        </div>
    </div>
{% endblock %}