{% extends 'home/base.html' %}


{% block content %}
    <div class="container">
        <div class="users-block">
            <div class="login users-block-inner">
                {% if form.errors %}
                    <p>Пароль или логин введены неправильно!</p>
                {% else %}
                <p>У вас уже есть аккаунт? Войти:</p>
                {% endif %}
                <form action="{% url 'users:login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p><input type="submit" value="Войти"></p>
                </form>
            <p><a href="{% url "users:password_reset" %}">Forgotten your password?</a></p>
            </div>
            <div class="sign-up users-block-inner">
                <p>Нет аккаунта?</p>
                <a href="{% url 'users:register' %}">Зарегистрируйся</a>
            </div>
        </div>
    </div>


{% endblock %}