{% extends 'home/base.html' %}

{% block title %} Смена пароля {% endblock %}

{% block content %}
    <div class="container">
    <p>Для смены пароля заполните следующие поля</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Изменить"></p>
        {% csrf_token %}
    </form>
    </div>>
{% endblock %}