{% extends "home/base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <div class="container">
        {% if validlink %}
            <p>Введите новый пароль дважды:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Поменять пароль" /></p>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it
                has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}