{% extends "home/base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<h1>Password set</h1>
<div class="container">
<p>Your password has been set. You can
<a href="{% url "users:login" %}">log in now</a></p>
</div>
{% endblock %}