{% extends 'home/base.html' %}

{%  block title %}Востановление пароля{% endblock %}

{% block content %}
    <div class="container">
        <h3>Забыли пароль?</h3>
        <p>Введите ваш  e-mail для получения нового пароля.</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p><input type="submit" value="Отправить на почту"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}