{% extends "home/base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
    <div class="container">
        <h1>Create an account</h1>
        <p>Please, sign up using the following form:</p>
        <form action="." method="post">
            {{ user_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Создать аккаунт"></p>
        </form>
    </div>
{% endblock %}
