{% extends "home/base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="container">
        <h1>Welcome {{ new_user.first_name }}!</h1>
        <p>Your account has been successfully created.
            Now you can <a href="{% url "users:login" %}">log in</a>.</p>
    </div>
{% endblock %}