{% extends 'home/base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
<div class="container">
    <h3>Логин {{ user.username }}</h3>
    <p>Почта {{ user.email }}</p>
    <a href="{% url 'users:edit'  %}">Изменить логин или почту</a>
    <a href="{% url 'users:password_reset'  %}">Изменить пароль</a>
</div>
{% endblock %}