{% extends 'home/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="grid">
            <div class="right-side">
                <h4 class="title-h4">Весь каталог</h4>
                <ul>
                    {% for category in product_category_context %}
                        <li><a href="{% url 'shop:product_list_by_category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="left-side">
                <div class="product-detail">
                    <h1>{{ product.name }}</h1>
                    <h2>
                        <a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
                    </h2>
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/default.png" %}{% endif %}">
                    <p class="price">${{ product.price }}</p>
                    {{ product.description|linebreaks }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}