@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    margin-bottom: 30px;
    background: #fbff4b;
    padding-bottom: 30px;
}

.header-top {
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.logo {
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: #ff9e2d;
    line-height: 85px;
    font-weight: 500;
    font-style: italic;
}

.main-nav {
    margin: 0 0 0 auto ;
    align-self: flex-end;
}

.main-nav ul {
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 15px;
}

.main-nav a {
    text-decoration: none;
    background: #d6c349;
    display: inline-block;
    padding: 25px 0 0 0 ;
    color: black;
    text-transform: capitalize;
}

.header-bottom ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

.header-bottom a {
    padding: 0 5px;
    color: rgba(0,0,0,0.78);
    font-size: 15px;
    text-transform: capitalize;
}

.banners {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.right-side {
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
}

.title-h4 {
    font-weight: 600;
    text-transform: capitalize;
}

.left-side {
    width: 79%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
}

.low-prices-block {
    position: relative;
    margin-bottom: 30px;
}

.low-prices {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.remize {
    width: 24%;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.remize img {
    width: 100%;
}

.more-info {
    color: #cccccc;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.best-items-block {
    margin-bottom: 30px;
}

.best-items {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.best-item {
    width: 24%;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.footer {
    background: #fbff4b;
    padding: 30px 0 5px;
}

.info-block {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 22%;
}

.info span {
    font-size: 16px;
    color: black;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info a {
    text-decoration: none;
    color: rgba(0,0,0,0.78);
}

/*USERS*/

.users-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding: 70px 50px;
}

.users-block-inner {
    width: 45%;
}

.login {
    align-self: flex-start;
    border: 1px solid #ccc;
    padding: 10px 10px 50px;
    border-radius: 5px;
    position: relative;
}

.logout {
    padding: 50px 10px;
}

.btn-1 {
    height: 30px;
    min-width: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.product-detail img {
    width: 50%;
    height: auto;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px 0;
}

.item a {
    text-align: center;
}

.product-list .item img {
    width: 40%;
    height: auto;
}
